{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <br>
    <h1>Review</h1>
    <div class="row">
      <div class="col-md-3">
        <p>Fails to be adaptable and receptive to new ideas and ones that contradict their own. Doesn't respond and adjust easily to changing work demands.</p>
      </div>
      <div class="col-md-2">
        <p>Only under prompting is this person adaptable and receptive to new ideas, responds and adjusts easily to changing work demands.</p>
      </div>
      <div class="col-md-2">
        <p>Is adaptable and receptive to all new ideas and responds, adjusts easily to changing work demands.</p>
      </div>
      <div class="col-md-2">
        <p>Actively prompts others to be open to new ideas and adjust to changing work demands.</p>
      </div>
      <div class="col-md-2">
        <p>Actively teaches practices to help manage new ideas helps to change work demands.</p>
      </div>
    </div>
      {% for user in team_members %}
      <div>
        <form method="post" id="review_form_{{user.user_id}}">
            <p>Reviewing: {{ user.first_name }}  {{ user.last_name }}</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#review_form_{{user.user_id }}").children().children("#id_pk").val("{{user.user_id}}");
          });
        </script>
      </div>
      {% endfor %}
    <br>
    <a href="{% url 'review:openness_review' %}">
      <button class="btn btn-primary">Next</button>
    </a>
    <br>
    <br>
    <div>
      <h5>Progress 4/11</h5>
    </div>
    {% endblock %}
