{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <br>
    <h1>Review</h1>
    <h2>How well do they handle construcitve feedback and alternate opinions?</h2>
    <div class="row">
      <div class="col-md-2">
        <p>Is open to constructive feedback and opinions that is familiar or consistent with their own beliefs.</p>
      </div>
      <div class="col-md-2">
        <p>Is open to some unfamiliar or contradictory constructive feedback and opinions.</p>
      </div>
      <div class="col-md-2">
        <p>Can accept all forms of constructive feedback.</p>
      </div>
      <div class="col-md-2">
        <p>Can accept all forms of constructive feedback and is able to provide feedback to others in a helpful way.</p>
      </div>
      <div class="col-md-3">
        <p>Takes all constructive feedback and opinions on board, shows a change in behaviour and is able to provide feedback to others in a respectful way.</p>
      </div>
      {% for user in team_members %}
      <form method="post" id="review_form_{{user.user_id}}">
          <p>Reviewing: {{ user.first_name }}  {{ user.last_name }}</p>
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">Next</button>
      </form>
      <script type="text/javascript">
        $(document).ready(function(){
          $("#review_form_{{user.user_id }}").children().children("#id_pk").val("{{user.user_id}}");
        });
      </script>
      {% endfor %}
    </div>


    {% endblock %}
