{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <br>
    <h1>Review</h1>
    <h2>Do they drive for a high result for the end goal?</h2>
    <div class="row">
      <div class="col-md-2">
        <p>Is easily distracted from the end goal and doesn't prioritize the task efficiently.</p>
      </div>
      <div class="col-md-2">
        <p>Focus on the end goal most of the time, is motivated under prompting and external expectations.</p>
      </div>
      <div class="col-md-2">
        <p>Doesn't get distracted often, is motivated by the result of the team's work rather than themsevles.</p>
      </div>
      <div class="col-md-2">
        <p>Self Motivated for the teams result, perserver through hard times, able to handle constructive feedback, does not get distracted easily.</p>
      </div>
      <div class="col-md-3">
        <p>Is a role model for the team, is able to lead success and maintain the focus for each member of the group.</p>
      </div>
    </div>
      {% for user in team_members %}
      <div>
        <form method="post" id="review_form_{{user.user_id}}">
            <p>Reviewing: {{ user.first_name }}  {{ user.last_name }}</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#review_form_{{user.user_id }}").children().children("#id_pk").val("{{user.user_id}}");
          });
        </script>
      </div>
      {% endfor %}
    <br>
    <a href="{% url 'review:tone_review' %}">
      <button class="btn btn-primary">Next</button>
    </a>

    {% endblock %}
