{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <div class="page-count">
      <p class="count">5/10</p>
      <a href="{% url 'review:question_review' %}" class="form-back">Back</a>
    </div>

    <p class="trait">Justify</p>
    <p class="trait-tag">Uses multiple, credible rousces only, accurately credits sources and justies choices</p>

    <div class="row">
      <ul>
        <li class="col-md-2">Fails</li>
        <div class="col-md-2-split">
          <div class="col-md-2-circle">
            <div class="dropdown-content-2">
              <a>Appears to be disinterested in this trait</a>
            </div>
            <p>?</p>
          </div>
        </div>

        <li class="col-md-3">Under Prompting</li>
        <div class="col-md-3-split">
          <div class="col-md-3-circle">
            <div class="dropdown-content-3">
              <a>Only does this under supervision</a>
            </div>
            <p>?</p>
          </div>
        </div>

        <li class="col-md-4">Always</li>
        <div class="col-md-4-split">
          <div class="col-md-4-circle">
            <div class="dropdown-content-4">
              <a>Doesn’t fail or is interested in this trait</a>
            </div>
            <p>?</p>
          </div>
        </div>

        <li class="col-md-5">Prompts Others</li>
        <div class="col-md-5-split">
          <div class="col-md-5-circle">
            <div class="dropdown-content-5">
              <a>Takes an active role in encouraging this trait</a>
            </div>
            <p>?</p>
          </div>
        </div>

        <li class="col-md-6">Teaches</li>
        <div class="col-md-6-split">
          <div class="col-md-6-circle">
            <div class="dropdown-content-6">
              <a>Teaches practices and methods to help improve this trait among others</a>
            </div>
            <p>?</p>
          </div>
        </div>
        </ul>
    </div>

    <form method ="post" id="review_form">
      <div class="vert-line-1"></div>
      <div class="vert-line-2"></div>
      <div class="vert-line-3"></div>
      <div class="vert-line-4"></div>
      {% csrf_token %}
      {{ formset.management_form }}
      {% for user,form in userforms %}
        <p class="naming">{{user.first_name}} {{user.last_name}}</p>
        <p>{{form.as_p}}</p>
      {% endfor %}
      <button class="btn btn-primary" type="submit">Next</button>
    </form>

    {% for user in team_members %}
      <script type="text/javascript">
        $(document).ready(function(){
          $("#review_form").children().children("#id_form-{{forloop.counter0}}-pk").val("{{user.user_id}}");
        });
      </script>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% endblock %}
