{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <br>
    <h1>Review</h1>
    <h2>Do they listen to others during conversation?</h2>
    <div class="row">
      <div class="col-md-2">
        <p>Person does not listen, interupts when others speak.</p>
      </div>
      <div class="col-md-2">
        <p>Person does not listen consistently, sometimes having to be prompted.</p>
      </div>
      <div class="col-md-2">
        <p>Person does listen consistently.</p>
      </div>
      <div class="col-md-2">
        <p>Person listens consistently, is respectful of others point of view and ask clarifying questions if unsure.</p>
      </div>
      <div class="col-md-3">
        <p>Person listens and tries to incoperate others ideas and build off ideas with appropriate body language.</p>
      </div>
    </div>
    
    <form method ="post" id="review_form">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for user,form in userforms %}
        <p>Reviewing: {{user.first_name}} {{user.last_name}}</p>
        <p>{{form.as_p}}</p>
      {% endfor %}
      <button class="btn btn-primary" type="submit">Next</button>
    </form>

    {% for user in team_members %}
      <script type="text/javascript">
        $(document).ready(function(){
          $("#review_form").children().children("#id_form-{{forloop.counter0}}-pk").val("{{user.user_id}}");
        });
      </script>
    {% endfor %}

    <br>
    <br>
    <div>
      <h5>Progress 9/11</h5>
    </div>
    {% endblock %}
