{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <br>
    <h1>Review</h1>
    <div class="row">
      <div class="col-md-2">
        <p>Resistant to prompting when doing tasks contributing to starting tasks on time.</p>
      </div>
      <div class="col-md-2">
        <p>Only under prompting is this person proactive and self-starting, when prompted gives minimal contribution to work and discussions.</p>
      </div>
      <div class="col-md-2">
        <p>Always contributes to work and discussion.</p>
      </div>
      <div class="col-md-2">
        <p>Actively prompts others to use initiative when it comes to tasks by working autonomously.</p>
      </div>
      <div class="col-md-3">
        <p>Actively teaches practices to help others with their initiatives, acting as a role model to help start tasks early while not hesitating to help others.</p>
      </div>
    </div>
      {% for user in team_members %}
      <div>
        <form method="post" id="review_form_{{user.user_id}}">
            <p>Reviewing: {{ user.first_name }}  {{ user.last_name }}</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#review_form_{{user.user_id }}").children().children("#id_pk").val("{{user.user_id}}");
          });
        </script>
      </div>
      {% endfor %}
    <br>
    <a href="{% url 'review:drive_review' %}">
      <button class="btn btn-primary">Next</button>
    </a>
    <br>
    <br>
    <div>
      <h5>Progress 5/11</h5>
    </div>
    {% endblock %}
