{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <br>
    <h1>Review</h1>
    <div class="row">
      <div class="col-md-2">
        <p>Resistant under prompting to build a positive working environment by not showing empathy, humility, unselfishness’ or building rapport.</p>
      </div>
      <div class="col-md-2">
        <p>Only under prompting does this person show empathy, humility, unselfishness or building rapport.</p>
      </div>
      <div class="col-md-2">
        <p>Always shows empathy, humility, unselfishness and, always builds rapport within the team.</p>
      </div>
      <div class="col-md-2">
        <p>Actively prompts others to be aware of building rapport, empathy, humility and unselfishness.</p>
      </div>
      <div class="col-md-4">
        <p>Activity teaches practices to help develop their humility, empathy, unselfishness and building their rapport.</p>
      </div>
    </div>

    <form method ="post" id="review_form">
      {% csrf_token %}
      {{ formset.management_form }}
      {% for user,form in userforms %}
        <p>Reviewing: {{user.first_name}} {{user.last_name}}</p>
        <p>{{form.as_p}}</p>
      {% endfor %}
      <button class="btn btn-primary" type="submit">Next</button>
    </form>

    {% for user in team_members %}
      <script type="text/javascript">
        $(document).ready(function(){
          $("#review_form").children().children("#id_form-{{forloop.counter0}}-pk").val("{{user.user_id}}");
        });
      </script>
    {% endfor %}

    <br>
    <br>
    <div>
      <h5>Progress 1/11</h5>
    </div>

    {% endblock %}
