{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <br>
    <h1>Review</h1>
    <h2>Do they build repoire with team members?</h2>
    <div class="row">
      <div class="col-md-2">
        <p>No conscious effort to build repoire with other team members.</p>
      </div>
      <div class="col-md-2">
        <p>Attempts/is able to build repoire with team members who are like-minded/similar nature.</p>
      </div>
      <div class="col-md-2">
        <p>Attempts to build repoire with all team members, and is able to build with most.</p>
      </div>
      <div class="col-md-2">
        <p>Can build close connection with majority and facilitates further connection being made.</p>
      </div>
      <div class="col-md-3">
        <p>Is not only able to connect and build a relationship with other team members but actively helps to create and build relationship between other team members.</p>
      </div>
    </div>

      {% for user in team_members %}
      <div>
        <form method="post" id="review_form_{{user.user_id}}">
            <p>Reviewing: {{ user.first_name }}  {{ user.last_name }}</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#review_form_{{user.user_id }}").children().children("#id_pk").val("{{user.user_id}}");
          });
        </script>
      </div>
      {% endfor %}

    <br>
    <a href="{% url 'review:contribution_review' %}">
      <button class="btn btn-primary">Next</button>
    </a>
    <br>
    <br>
    <div>
      <h5>Progress 2/11</h5>
    </div>
    {% endblock %}
