{% extends 'base.html' %}

    {% block head %}
    <title>Review</title>
    {% endblock %}

    {% block content %}
    <br>
    <h1>Review</h1>
    <div class="row">
      <div class="col-md-2">
        <p>Resistant to prompting to create trust and loyalty within the team fails to treat all individuals fairly, keep their word, meet  deadlines and fulfil expectations.</p>
      </div>
      <div class="col-md-2">
        <p>Only under prompting do they show a value for trust and loyalty, treats all individuals fairly, keeps their word, meets deadlines and fulfil expectations.</p>
      </div>
      <div class="col-md-2">
        <p>Always shows to value trust and loyalty within the team, treats all individuals fairly, keeps their word, meets deadlines and fulfil expectations..</p>
      </div>
      <div class="col-md-2">
        <p>Actively prompts others to manage value trust and loyalty within the team treats all individuals fairly, keeps their word, meets deadlines and fulfil expectations..</p>
      </div>
      <div class="col-md-3">
        <p>Actively teaches practices to help others to build trust and loyalty within the team.</p>
      </div>
    </div>

      {% for user in team_members %}
      <div>
        <form method="post" id="review_form_{{user.user_id}}">
            <p>Reviewing: {{ user.first_name }}  {{ user.last_name }}</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-outline-primary" type="submit">Save</button>
        </form>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#review_form_{{user.user_id }}").children().children("#id_pk").val("{{user.user_id}}");
          });
        </script>
      </div>
      {% endfor %}

    <br>
    <a href="{% url 'review:contribution_review' %}">
      <button class="btn btn-primary">Next</button>
    </a>
    <br>
    <br>
    <div>
      <h5>Progress 2/11</h5>
    </div>
    {% endblock %}
