{% extends 'base.html' %}

{% block head %}
<title>Contact</title>
{% endblock %}

{% block content %}
<br>
<div class="contact-container">
  <h1 class="contact-head">Contact Us</h1>
  <div class="sales-container">
    <p class="contact-subhead">Sales</p>
      <p class="contact-body">We would love to connect and discuss how we can work together</p>
  </div>

  <div class="help-container">
    <p class="contact-subhead">Help & Support</p>
      <p class="contact-body">We are here to help with any questions or problems that may occur</p>
  </div>

  <div class="media-container">
    <p class="contact-subhead">Media & Press</p>
      <p class="contact-body">Grab company info, news or media resources</p>
  </div>
  <div class="contact-links-container">
    <p>Get in touch and let us know how we can help</p>
    <p>info.coreable@gmail.com</p>
  </div>
</div>
{% endblock %}
