{% extends 'base.html' %}

{% block head %}
<title>Features</title>
{% endblock %}

{% block content %}
<br>

<div class="features-container">
  <h1 class="features-head">Features</h1>
  <p id="features-sub-head">What is Coreable</p>
  <p id="features-body">Coreable is a toolkit that enables the quantification of core skills, specifically Communication, Collaboration, Critical and Creative Thinking. Coreable’s value is derived from the learning that can occur from being able to measure these skills. What differentiates Coreable from competitors is how it measures these skills. Coreable achieves this through a peer-review system that is behaviour orientated. Specifically, Coreable has broken down Communication and Collaboration into five facets based on scholarly articles. These facets are further broken down into attributes.
From here a five-band system is used whereby people are appraised on the attributes based on the behaviour they’ve exhibited.</p>
  <p id="features-sub-head">How are we different?</p>
  <p id="features-body">These marks are then put through our discrepancy checkers to ensure validity. Individuals can view their scores through a radar diagram, where each point is indicative of a facet.</p>
  <p id="features-sub-head">What value do we offer?</p>
  <p id="features-body">To Students: No matter how you look at the future of work, all evidence highlights the importance of core skills in the workforce. Deakin’s recent report ‘Enabling the Future of Work’ states that “63% of all jobs will be soft-skill intensive jobs by 2030”, however at this stage, there is no way to measure these skills effectively. Coreable’s toolkit will enable students to identify their strengths and more importantly their weaknesses, so they’re able to prepare themselves for this job environment better.</p>
  <p id="features-body">To Teachers: In an educational system that’s driven by assessments, it’s nearly impossible to teach something that can’t be assessed. As a result, our educational system is preparing students for the job market of the last century. Coreable seeks to equip teachers with a toolkit which will allow them to assess and therefore teach core skills within their classrooms.</p>
  <p id="features-body">To Employers: Despite the job landscape changing, employers are still using the same criteria to judge the value of job applicants. Yes, tools such as psychometric testing have become available, however even those don’t tell you everything you need to know about a potential employee. Coreable is striving to have every school and university graduate to have radar-diagrams on their resumes that depict their ability to communicate and collaborate, further streamlining the recruitment process.</p>
  <p>Disc Check, SAPA, SPA, MA, AS, TS, RPI
</div>

{% endblock %}
