{% extends 'base.html' %}

    {% block head %}
    <title>Coreable</title>
    {% endblock %}

    {% block content %}
    <div class="login-container">
    <h1 class="login-head">Login</h1>
    <div class="form-group-login">
      <form method="post">
          {% csrf_token %}
          {% for field in authentication_form %}
            <label class="login-field-tag">{{ field.label_tag }}</label>
            <ul>
              <li>{{ field }}</li>
            </ul>

          {% endfor %}
          <button class="btn btn-fourth" type="submit" name="authenticate">Login</button>
          <a class="reset-link" href="{% url 'accounts:reset_password' %}">Reset Password</a>
      </form>
    </div>
    </div>

  <div class="signup-board">
    <div class="signup-container">
    <h1 class="signup-head">Sign Up</h1>
      <div class="form-group-signup">
        <form method="post" class="signup-divder">
            {% csrf_token %}
            {% for field in register_form %}
              <label class="signup-field-tag">{{ field.label_tag }}</label>
              <ul>
                <li>{{ field }}</li>
              </ul>

            {% endfor %}
            <button class="btn btn-third" type="submit" name="register">Get Started</button>
        </form>
      </div>
  </div>
    {% endblock %}
