{% extends 'base.html' %}

    {% block head %}
    <title>Login</title>
    {% endblock %}

    {% block content %}
    <!-- <h1>Login</h1>
      <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <ul>
                <label>{{ field.label_tag }}</label>
                <li>
                  {{ field }}
                </li>
              </ul>
            {% endfor %}
            <button class="btn btn-primary" type="submit" >Login</button>
        </form>
      </div> -->


      <h1>Login</h1>

          <form method="post">
              {% csrf_token %}
              {% for field in form %}
                <div class="form-group">
                  <label>{{ field.label_tag }}</label>
                  {{ field }}
                </div>
              {% endfor %}
              <button class="btn btn-primary" type="submit" >Login</button>
          </form>



    {% endblock %}
