{% extends 'base.html' %}

    {% block head %}
    <title>Register</title>
    {% endblock %}

    {% block content %}
    <h1>Register</h1>
    <p>You can register here!</p>
      <div class="form-group">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
              <label>{{ field.label_tag }}</label>
              <ul>
                <li>{{ field }}</li>
              </ul>

            {% endfor %}
            <button class="btn btn-primary" type="submit" >Register</button>
        </form>
      </div>
    {% endblock %}
